@import "variable";



* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	margin: 0;
	color: #555;
	line-height: 1.6;
	font-family: DIN Light, Noto, sans-serif;
	overflow: hidden;
	&>section {
		position: relative;
		padding: 0 0 4rem ;
		border-bottom: 1px solid #333;
		header {
			h2 {
				padding-top: 4rem;
				text-align: center;
				font-size: 240%;
				margin: 0;
				@include textshadow;
				font-family: serif;
			}
		}
	}
}

body {
	background-color: $bgc;
	font-size: 100%;
}

img {
	vertical-align: middle;
}

figure, figcaption {
	margin: 0;
}

figure {
	img {
		max-width: 100%;
	}
}

ul, li, dl, dt, dd {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.btn {
	font-weight: bold;
	font-size: 120%;
	display: inline-block;
	text-decoration: none;
	background-color: rgba($blue, .2);
	color: white;
	padding: 1rem 5rem;
	border-radius: 2px;
	border: 1px solid $blue;
	@include textshadow;
	transition: .2s;
	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 0 10px $blue, 0 0 10px $blue;
	}
}

.tac {
	text-align: center;
}
.notification {
	position: relative;
	.badge {
		position: absolute;
		top: -5px;
		right: -8px;
		line-height: 1;
		border-radius: 4px;
		background-color: #f00;
		color: white;
		font-weight: bold;
		text-align: center;
		padding: 4px 4px 2px;
		font-size: x-small;
	}
}

.container {
	@include fb(center, center);
	flex-direction: column;
	height: 100%;
	&>* {
		flex: 1 0 auto;
	}
}

.global_header {
	background-color: #fff;
	padding: 1.1rem 1.8rem;
	height: $header_height;
	width: 100%;
	@include fb(space-between, center);
	box-shadow: 0 2px 2px #333;
	&>* {
		transition: .2s;
	}
	.timer {
		vertical-align: middle;
		time {
			font-size: 1.4rem;
		}
		.fa {
			position: relative;
			bottom: 3px;
			font-size: 90%;
		}
	}
	.logo {
		text-align: center;
		line-height: 1;
		img {
			width: 150px;
		}
	}
	.etc {
		text-align: right;
		&>* {
			display: inline-block;
			margin-left: 1rem;
		}
	}
	.header_close_btn {
		position: absolute;
		right: 20px;
		top: 10px;
		font-size: 26px;
		width: 100px;
		height: 50px;
		display: none;
		.fa {
			float: right;
		}
	}
	&.hide_close {
		.timer, .etc {
			opacity: 0;
			visibility: hidden;
		}
		.header_close_btn {
			display: block;
		}
	}
}

main {
	padding: 20px 10px;
	width: 100%;
	overflow: hidden;
	height: calc(100% - #{$header_height});
	@include fb();
}

.app_panel {
	box-shadow: 0 2px 2px #333;
	width: 400px;
	box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.80);
	border-radius: 4px;
	background-color: #fff;
	height: 100%;
	margin: 0 10px;
}
.chart_panel {
	transition: .2s;
	&.active {
		transform: scale(.9);
		opacity: .8;
	}
}
.chart_temp {
	background: url(../img/thumb_tenp.jpg) center no-repeat;
	background-size: cover;
}
.chart_electro_power {
	background: url(../img/thumb_power.jpg) center no-repeat;
	background-size: cover;
}

.app_home {
	width: 700px;
	background-image: linear-gradient(-180deg, #353A6B 0%, #181B39 100%);
	color: white;
	@include fb(space-between, stretch);
	flex-direction: column;
	.tit {
		//@include fb(center, center);
		color: white;
		text-decoration: none;
		margin-top: 40px;
		.tit_inner {
			//flex: 1 0 auto;
			//margin-top: 40px;
		}
		text-align: center;
		.fa {
			font-size: 200%;
			@include textshadow;
		}
		p {
			font-size: 240%;
			margin: .1rem 0 0;
			@include textshadow;
			line-height: 1;
		}
	}
	.params_list {
		padding: .8rem;
		@include fb(center, flex-end);
		flex: 1 0 0;
		ul {
			@include fb(space-between, stretch);
			border: 1px solid #fff;
			border-radius: 4px;
			li {
				text-align: center;
				border-left: 1px solid #fff;
				padding: .7rem .2em;
				width: 25%;
				&:first-of-type {
					border: none;
				}
			}
		}
	}
	.param_icon {
		margin-bottom: 10px;
		.fa {
			font-size: 240%;
			@include textshadow;
		}
	}
	.param_tit {
		font-size: 16px;
		//margin-bottom: 15px;
		@include textshadow;
	}
	.param_value {
		font-size: 240%;
		min-height: 60px;
			@include textshadow;
		.unit {
			font-size: 60%;
		}
		img {
			height: 50px;
			position: relative;
			top: -5px;
		}
	}
	.param_data {
		font-size: 12px;
	}
}

.app_photo {
	background: url(../img/children.jpg) center no-repeat;
	background-size: cover;
	position: relative;
	#photo_viewer {
		display: block;
		width: 100%;
		height: 100%;
	}
	.tit {
		color: white;
		position: absolute;
		bottom: 0;
		left: 1rem;
		span {
			font-size: 70%;
		}
	}
}

.app_map {
	background: url(../img/thumb_map.png) center no-repeat;
	background-size: cover;
}

/*

app detail
*/

#id_ctrl:target {
	//display: block;
		//z-index: 1;
		opacity: 1;
		transform: scale(1);
		transition: .2s;
}

.app_detail {
	width: 100%;
	height: 420px;
	position: absolute;
	top: 60px;
	left: 0;
	&.app_home {
		@include fb(space-between, stretch);
		flex-direction: row;
		//display: none;
		//z-index: -1;
		opacity: 0;
		position: absolute;
		transform: scale(0);
		transition: .2s;

		.home_vertical_column {
			// 左右共通
			@include fb(space-between, stretch);
			flex-direction: column;
			&>* {
				flex: none;
			}
		}
		.home_ctrl_main_side {
			width: 65%;
			.tit {
				//height: 50%;
				margin-top: 0;
			}
			.tit_inner {
				height: 100%;
				@include fb(space-between, stretch);
				padding: .8rem .8rem 0;
			}
		}
		.home_ctrl_chart_side {
			width: 35%;
			padding: .8rem .8rem .8rem 0;
			&>* {
			}
		}
		.ctrl_btns {
			border: 1px solid $bgc;
			border-radius: 4px;
			@include fb(space-between, stretch);
			flex-wrap: wrap;
			background-color: #fff;
			height: 190px;
			li {
				@include fb(center, center);
				border-right: 1px solid $bgc;
				width: 25%;
				//padding: 1.4rem 0;
				color: $bgc;
				line-height: 1;
				transition: .2s;
				&:nth-child(-n+4) {
					border-bottom: 1px solid $bgc;
				}
				&:nth-child(4n+4) {
					border-right: none;
				}
				span {
					display: block;
					padding: .9rem 0 0;
					line-height: 1;
					color: $blue;
				}
				.fa {
					line-height: 1;
					display: block;
					font-size: 40px;
					text-shadow: none;
					color: $blue;
				}
				.img_icon {
					img {
						width: 40px;
					}
				}
				&.active {
					background-color: $blue;
					transform: scale(.95);
					.fa, span {
						color: white;
					}

				}
			}
		}
		.params_list {
			flex: 1 0 0;
			ul {
				height: 100%;
				li {
					@include fb(space-between, stretch);
					flex-direction: column;
					em {
						font-style: normal;
					}
				}
			}
		}

		.chart_panel {
			background-color: #fff;
			border-radius: 4px;
			height: calc(50% - 0.4rem);
			flex: none;
			&:last-of-type {
			}
		}
	}
}

// detail

.detail {
	width: 800px;
	height: 480px;
}

.legend_bar {
	&>div {
		color: white;
		span {
			background-color: #F5A623;
			width: 20px;
			height: 4px;
			display: inline-block;
			margin-right: 4px;
			position: relative;
			top: -4px;
		}
	}
	.last_year {
		span {
			background-color: #999;
		}
	}
}

.detail_tit {
	font-size: 60px;
	font-weight: bold;
	color: #F5A623;
	text-align: center;
	span {
		font-size: 34px;
	}
}

.temp_detail {
	position: relative;
	.detail_header {
		display: block;
		padding-bottom: 0px;
		padding-top: 50px;
	}
	.detail_tit {
		font-size: 40px;
		color: #fff;
		text-align: center;
	}
	.close_btn {
		position: absolute;
		right: 20px;
		top: 36px;
		z-index: 2;
	}
}

.close_btn {
	color: white;
	text-align: right;
	.fa {
		font-size: 26px;
	}
}

.detail_header {
	@include fb();
	padding: 40px 30px 60px;
}

.detail {
	.chart_area {
		padding:  0 0px;
		position: relative;
		.chart_area_content {
			overflow: hidden;
			width: 680px;
			height: 250px;
			margin-left: 60px;
			position: relative;
			animation: show_chart_animation .8s .1s;
		}
	}
}

.temp_detail {
	background-image: linear-gradient(#006A92, #003959);
	.chart_area {
		.chart_area_content {
			background: url(../img/tempchart_detail_line.png) left top no-repeat;
			background-size: 680px 248px;
		}
	}
}

.power_detail {
	background-image: linear-gradient(#921F00, #592200);
	//background-image: linear-gradient(#3B923D, #425946);
	.chart_area {
		.chart_area_content {
			background: url(../img/powerchart_detail_line.png) left top no-repeat;
			background-size: 680px 248px;
		}
	}
}
@keyframes show_chart_animation {
	0% {
		width: 0;
	}
	100% {
		width: 680px;
	}
}

.tooltip {
	position: absolute;
	border-radius: 4px;
	background-color: rgba(#fff, .9);
	text-align: center;
	padding: 1rem;
	top: 0;
	left: 40px;
	font-size: 18px;
	transition: .2s;
	span {
		display: inline-block;
	}
}

.touch12monthes {
	position: absolute;
	top: 0;
	left: 65px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	li {
		float: left;
		opacity: 0;
		transition: .6s;
		width: 61px;
		height: 90%;
		background: url(../img/touchoverlay.png) center bottom no-repeat;
		background-size: 61px 100%;
		transform: scale(1, .9);
		transform-origin: bottom center;
		&.active {
			opacity: 1;
			transform: scale(1, 1);
		}
	}
}
.temp_detail {
	.touch12monthes {
		left: 82px;
		li {
			width: 79px;
			background-size: 100% 100%;
		}
	}
}

.detail_window {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -10;
	opacity: 0;
	transition: .5s .2s;
	transform: scale(.8);
	&.show {
		z-index: 10;
		opacity: 1;
		transform: scale(1);
	}
}

.temp_info {
	color: white;
	font-size: 55px;
	text-align: center;
	padding-top: 10px;
	span {
		font-size: 40px;
	}
	img {
		width: 30px;
		height: auto;
		vertical-align: top;
	}
}

.photo_detail {
	.detail_header {
		padding: 10px;
		#transition_selection {
			width: 100px;
			font-size: 14px;
			font-family: DIN Light, sans-serif;
			padding: 6px 12px;
			-moz-appearance: none;
			appearance: none;
			border: 1px solid #404040;
			background-color: #000;
			border-radius: 4px;
			color: white;
			position: relative;
			&::after {
				content: " ";
				color: white;
				position: absolute;
				right: 5px;
				top: 2px;
			}
		}
	}
	.header_close_btn {
		text-align: right;
		padding-right: 10px;
		padding-top: 4px;
	}
	background-color: #000;
	.slider_wrapper {
		overflow: hidden;
	}
}
#slider {
	width: 480px;
	height: 480px;
	float: left;
}
#photo_nav {
	width: 320px;
	height: 480px;
	float: right;
	padding: 0 0 0 6px;
	div {
		display: block;
		margin: 1px;
		float: left;
		img {
			width: 100px;
			height: 100px;
		}
	}
}

.video_app_content {
	.video_detail {
		background-color: #111;
		#video_nav {
			overflow: auto;
			height: calc(100% - 60px);
		}
		header {
			@include fb(flex-end, center);
			height: 60px;
		}
		.header_close_btn {
			padding: 1rem 2rem;
			flex: none;
		}
		.thumb_video {
			width: 25%;
			float: left;
			position: relative;
			img {
				width: 100%;
				height: auto;
				opacity: .5;
			}
			&::after {
				position: absolute;
				left: 50%;
				top: 50%;
				content: "\f144";
				font-family: "FontAwesome";
				font-weight: normal;
				font-style: normal;
				display: inline-block;
				color: rgba(white, .5);
				font-size: 40px;
				line-height: 0;
				margin-left: -20px;
			}
		}
	}
	.video_play_window {
		background-color: #000;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .2s;
		transform: scale(0);
		.video_play_window_inner {
			height: 100%;
			@include fb(center, center);
			video {
				width: 100%;
				height: auto;
			}
		}
		.detail_close_btn {
			position: absolute;
			right: 0px;
			top: 0px;
			width: 100px;
			height: 100px;
			z-index: 2;
			color: white;
			text-shadow: 0 0 2px #000, 0 0 10px #000;
			.fa {
				margin-right: 25px;
				margin-top: 25px;
				float: right;
			}
		}
	}
	&.playing {
		.video_play_window {
			transform: scale(1);
		}
	}
}


/* デスクトップPCではLINEボタンを表示しない */
@media screen and ( min-width:480px ) {
	.sc-li {
		display: none ;
	}
}


@import "wu";
